.heading1 {
    position: absolute;
    z-index: 20;
    left: 2vmax;
    top: 10vmin;
    font-size: 15vmin;
    font-weight: bolder;
    color: #a8b2bd;
    text-shadow: 2px 2px 5px #413a33;
}
.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
body {

    font-family: sans-serif;
    margin: 0;
}


img {
    
    padding: 0rem 0rem 6rem 0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.mapy1{
    position: absolute;
    z-index: 20;
    right: 2vmax;
    top: 10vmin;
    height: 30vmin;
    width: 35vmin;
}
.bg-light{
    background-color: #e2ded5 !important;
}

.text {
    padding: 3rem 0rem 6rem 0rem;

    position: absolute !important;
    z-index: 20 !important;
    right: 2vmax !important;
    top: 35vmin !important;
    font-size: 5vmin;
    color: #a8b2bd;
    width: 120vmin;
    color: #a8b2bd;
    text-shadow: 2px 2px 5px #413a33 !important;
  }
  .text h2{
      font-weight: bold;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    width: 120px;
    background-color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 10;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;

  }

.hidden {
  visibility: hidden;
}
.dropdown-item {
  width: 100% !important;
  background-color: #dbab7c;
  color: #413a33;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
    text-shadow: 0 !important;
}
.dropdown-menu{
  width: 100% !important;
  z-index: 0 !important;
  text-shadow: 0 !important;
  background-color: #dbab7c !important;
  border-radius: 0%;
  margin-top: 0;
  border: none;
}
.dropdown {
  width: 100% !important;
  position: relative;
  display: inline-block;
  text-shadow: 0 !important;
  right: 0;
  color: #94500b !important;
}
.sort {
  background-color: #413a33 !important;
  color: #dbab7c !important;
  width: 100% !important;
  border-radius: 0%;
  text-align: left;
}
.dropdown-item:hover{
  color: #2e1c0a !important;
  background-color: #dbab7c !important;
  font-weight: bold;
}
.car:hover{
  cursor: url(auto.cur),auto;
}
.btn{
  box-shadow: none !important;
}
.bcrnd{
  background-color: #dbab7c;



.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #111;
}

.main-content {
    display: flex;

}