.heading1 {
    position: absolute;
    z-index: 20;
    left: 2vmax;
    top: 10vmin;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
body {
    background-color: white;
    
}

.section { 
    padding: 3rem 0rem 6rem 0rem;
}

