body {
    color: rgb(49, );
    font-family: sans-serif;
    margin: 0;
}


img {
    
    padding: 0rem 0rem 6rem 0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}