.heading1 {
    position: absolute;
    z-index: 20;
    left: 2vmax;
    top: 10vmin;
    font-size: 15vmin;
    font-weight: bolder;
    color: #a8b2bd;
    text-shadow: 2px 2px 5px #413a33;
}
.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
body {
    color: rgb(49, );
    font-family: sans-serif;
    margin: 0;
}


img {
    
    padding: 0rem 0rem 6rem 0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.mapy1{
    position: absolute;
    z-index: 20;
    right: 2vmax;
    top: 10vmin;
    height: 30vmin;
    width: 35vmin;
}
.bg-light{
    background-color: #e2ded5 !important;
}

.section {
    padding: 3rem 0rem 6rem 0rem;
  }