.heading1 {
    position: absolute;
    z-index: 20;
    left: 2vmax;
    top: 10vmin;
    font-size: 15vmin;
    font-weight: bolder;
    color: #a8b2bd;
    text-shadow: 2px 2px 5px #413a33;
}
.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
body {

    font-family: sans-serif;
    margin: 0;
}


img {
    
    padding: 0rem 0rem 6rem 0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.mapy1{
    position: absolute;
    z-index: 20;
    right: 2vmax;
    top: 10vmin;
    height: 30vmin;
    width: 35vmin;
}
.bg-light{
    background-color: #e2ded5 !important;
}

.text {
    padding: 3rem 0rem 6rem 0rem;

    position: absolute !important;
    z-index: 20 !important;
    right: 2vmax !important;
    top: 35vmin !important;
    font-size: 5vmin;
    color: #a8b2bd;
    width: 120vmin;
    color: #a8b2bd;
    text-shadow: 2px 2px 5px #413a33 !important;
  }
  .text h2{
      font-weight: bold;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;

  }
