.heading1 {
    position: absolute;
    z-index: 20;
    left: 2vmax;
    top: 10vmin;
    font-size: 15vmin;
    font-weight: bolder;
    color: #a8b2bd;
    text-shadow: 2px 2px 5px #413a33;
}
.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
body {
    
    font-family: sans-serif;
    margin: 0;
}

.banner {
  background-color: #d9ebe9;
}


img {
    
    padding: 0rem 0rem 6rem 0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.mapy1{
    position: absolute;
    z-index: 20;
    right: 2vmax;
    top: 10vmin;
    height: 30vmin;
    width: 35vmin;
}
.bg-light{
    background-color: #e2ded5 !important;
}

.container {
  width: 60vw;
  margin: 0 auto;

}
header{
  background-color: #ceb296;
}
.korona {
  text-decoration-color: rgb(49, 58, 69);
  background-color: white;
}

section {
  padding: 0rem 0rem 6rem 0rem;
}

.text {
    padding: 3rem 0rem 6rem 0rem;

    position: absolute !important;
    z-index: 20 !important;
    right: 2vmax !important;
    top: 35vmin !important;
    font-size: 5vmin;
    color: #a8b2bd;
    width: 120vmin;
    color: #a8b2bd;
    text-shadow: 2px 2px 5px #413a33 !important;
  }
  .text h2{
      font-weight: bold;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    width: 120px;
    background-color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 10;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;

  }

.hidden {
  visibility: hidden;
}

.dropdown-item {
  width: 100% !important;
  background-color: #ceb296;
  color: #413a33;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
    text-shadow: none !important;
}
.dropdown-menu{
  width: 100% !important;
  text-shadow: none !important;
  background-color: #ceb296 !important;
  border-radius: 0%;
  margin-top: 0;
  border: none;
}
.dropdown {
  width: 100% !important;
  display: inline-block;
  text-shadow: none !important;
  right: 0;
  color: #94500b !important;
}
.sort {
  background-color: #a77544 !important;
  color: #dbab7c !important;
  width: 100% !important;
  border-radius: 0%;
  text-align: left;
}
.dropdown-item:hover{
  color: #2e1c0a !important;
  background-color: #ceb296 !important;
  font-weight: bold;
}
.car:hover{
  cursor: url(auto.cur),auto;
}
.btn{
  box-shadow: none !important;
}

.bcrnd{
  background-color: #ceb296;

}

/*footer-kontakty*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



footer {
    position: static;
    bottom: 0px;
    width: 100%;
    background: #111;
}

.main-content {
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}

.left .content p{
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #f12020;
} 

.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text2{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text2{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
